.footer{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}
.navigation{
    padding-left: 10px;
}
.navigationList{
    list-style-type: none;
}
.navigationListItem{
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}
.logoSosmedItem{
    padding-right: 10px;
}
